@font-face {
	font-family: 'RadiolandRegular';
	src: url('../fonts/RADIOLAND-webfont.eot');
	src: local('RadiolandRegular'), url('../fonts/RADIOLAND-webfont.woff') format('woff'), url('../fonts/RADIOLAND-webfont.ttf') format('truetype'), url('../fonts/RADIOLAND-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #999;
}

#nrk-player{
    background-color: #ccc;
    width: 300px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    margin-left: -150px;
    margin-top: -60px;
    left: 50%;
    top: 50%;
    -apple-dashboard-region:dashboard-region(control rectangle 0px 0px 0px 0px);
}

#nrk-player #stationPicker{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    display: none;
    width: 100%;
    height: 66px;
    color: #fff;
}

#nrk-player #stationPicker div{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}


#nrk-player #display{
    height: 66px;
    background-image: url(../gfx/default/background-controls.jpg);
    background-position: top left;
	background-repeat: no-repeat;
    color: #fff;
    border-bottom: solid 4px #000;
    font-family: 'RadiolandRegular', Arial;
    font-size: 24px;
}

#nrk-player #toggleStationPicker{
    font-family: Arial;
    font-size: 11px;
    cursor: pointer;
}

/**
 * Play button
 */
#nrk-player #play{
    position: absolute;
    top: 75px;
    left: 255px;    /* 255px + 40px = 295px = 5px left margin  */
    width: 40px;
    height: 40px;
    background-image: url(../gfx/default/button-play.png);
    background-position: top left;
	background-repeat: no-repeat;
    cursor: pointer;
}


#nrk-player #pause{
    position: absolute;
    top: 75px;
    left: 255px;    /* 255px + 40px = 295px = 5px left margin  */
    width: 40px;
    height: 40px;
    background-image: url(../gfx/default/button-pause.png);
    background-position: top left;
	background-repeat: no-repeat;
    cursor: pointer;
}

#nrk-player #stop{
    position: absolute;
    top: 75px;
    left: 210px;    /* 255px + 40px = 295px = 5px left margin  */
    width: 40px;
    height: 40px;
    background-image: url(../gfx/default/button-stop.png);
    background-position: top left;
	background-repeat: no-repeat;
    cursor: pointer;
}


#nrk-player #volumeMin{
    position: absolute;
    top: 90px;
    left: 35px;
    width: 25px;
    height: 25px;
    background-image: url(../gfx/default/button-sound-mute.png);
    background-position: top left;
	background-repeat: no-repeat;
    cursor: pointer;
}

#nrk-player #volume{
    position: absolute;
    top: 100px;
    left: 60px;
    width: 40px;
    height: 5px;
    background-color: #999;
    cursor: pointer;
}

#nrk-player #volumeMax{
    position: absolute;
    top: 90px;
    left: 105px;
    width: 25px;
    height: 25px;
    background-image: url(../gfx/default/button-sound-max.png);
    background-position: top left;
	background-repeat: no-repeat;
    cursor: pointer;
}

